p {
  margin: 0;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .car-input {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }

  .dropdown {
    background: #1e242c;
    max-width: 305px;
    width: 100%;
    margin: 1px auto;

    .car {
      padding: 5px 10px;

      .car-name {
        color: white;
        font-family: "Lucida Fax", sans-serif;
        font-size: 12px;
      }
    }
  }
}

::ng-deep {
  &.highlight {
    opacity: 0.5;
  }
}


